@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;
    text-decoration: none;
}

.topbar {
    align-items: center;
    justify-content: center;
    height: 70px;
    display: flex;
    width: 100vw;

}

.topbar .wrapper {
    
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.left {
    align-items: center;
    display: flex;
}

.left a:visited {
    color: black;
}
.topbar .wrapper svg {
    width: 18px;
    margin-right: 10px;
}

h1 {
    text-align: center;
}

.itemContainer {

    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: 500;
    font-size: 15px;
    margin-left: 30px;
    
    
    color: black;
}

.itemContainer a {
    text-decoration: none;
    font-weight: 500;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
}

.hamburger .line1, .line2, .line3 {
    height: 3px;
    width: 100%;
    background-color: black;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}


 img {
    width: 100%;
} 


.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.userField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    position: relative;
}


.user-header {
    font-weight: 700;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.user-data {
    font-weight: 400;
}

p {
    display: inline;
}

svg {
    width: 20px;
}
.posts {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.post {

    margin: 30px auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

 .post:not(:nth-child(1)) {
    border-top: 1px solid black;
}

.top {
    font-size: 30px;


}

.top .postHeader {
    font-size: 15px;


}

.top .postHeader .postAuthor, .postDate {
    font-weight: bold;
}

.center {
    flex: 4;


}

.center p {
    text-align: justify;
    font-size: 23px;
    padding-top: 10px;
    overflow-wrap: break-word;
}

.bottom {
    display: flex;
    background-color: rgb(229, 223, 223);
    width: 100%;
    height: 3em;


}

.bottom .views, .bottom .comments, .bottom .tags {
    margin: 0 10px;
    display: flex;
    align-items: center;

}

.bottom .tags:not(a) {
    font-weight: bold;
}

.bottom .tags:not(a) a {
    font-weight: 400;
}

.bottom svg {
    margin-right: 10px;
}
.post-button {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 120px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    border-top: none;
}

.post-button a {
    padding-top: .5em;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

.login-button {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 2em;
}

.login-button a {
    padding-top: .5em;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

.login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: -13px;
    border: 1px solid black;
    width: 100px;
}

.login-card a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.login-card a:visited {
    color: black;
}

.log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* Mobile Responsive */



@media screen and (max-width: 1024px) {

    .posts {
        width: 90%;
    }

    .login-button {
        margin-right: 26px;
    }
    
}

@media screen and (max-width: 768px) {

    .userInfo {
        display: none;
    }

    .post-button {
        margin-top: 25px;
    }

    .avatar {
        margin: 0;
    }

    .posts {
        width: 90%;
    }

    .itemContainer {
        display: none;
    }

    .login-button {
        margin-right: 4px;
    }

    .post:first-child {
        margin-top: 0;
        
    }



    
}

.chat-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 1000;

}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
    border-color: white;
    border-style:solid;
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 10;
}

.chat {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 0, 51);
    margin: auto;

    z-index: 5;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chat:hover{
    opacity: 1;
}

svg {
    fill: white;
}


/* chat-window */

.chat-window {
    position: absolute;
    height: 600px;
    width: 366px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    right: 40px;
    bottom: 40px;
    background-color: #cdd3d5;
    z-index: 100;
    border: 1px solid red;
    overflow: hidden;
}
.chat-window .top {
    display: flex;
    width: 100%;
    flex: 1;
    background-color: crimson;
    color: white;
}
.chat-window .top .top-left {
    flex: 3;
}
.chat-window .top .top-right {
    flex: 1;
}
.chat-window .top .top-right svg {
    margin: 10px;
    float: right;
    cursor: pointer;
}
.chat-window .center {
    overflow-x: hidden;
    height: 427.425px;
    width: 100%;
    flex: 5;
    display: flex;
    flex-direction: column;
}
.chat-window .bottom {
    display: flex;
    width: 100%;
    flex: 1;
    background-color: white;
}
.chat-window textarea {
    font-size: 15px;
    border: none;
    resize: none;
    outline: none;
    padding: 16px;
    padding-top: 10px;
    box-sizing: border-box;
    flex: 3;
   /* width */
   /* Track */
   /* Handle */
   /* Handle on hover */
}
.chat-window textarea::-webkit-scrollbar {
    width: 5px;
    padding: 0 10px;
}
.chat-window textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.chat-window textarea::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
.chat-window textarea::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.chat-window .bottom-right {
    flex: 1;
    border-left: 1px solid red;
}
.chat-window .icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-window .icons svg {
    font-size: 30px;
}
.chat-window .icons svg:hover {
    color: #b30000;
    cursor: pointer;
}

.bottom-right svg {

    fill: black;
    width: 30px;
    margin: 0;
}

.top-left {
    margin: auto;
    padding-left: 10px;
}

.online-users {
    display: flex;
    width: auto;
}

.status {
    font-size: 14px;
    padding-top: 5px;
    font-weight: bold;
}

.pro-pic {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.current-status {
    font-weight: 300;
    font-style: italic;
}

.user_message {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
}

.user_message p {
    font-size: 14px;
    text-align: left;
    display: block;
    padding: 16px;
}
.message-op {
    width: 80%;
    background-color: rgb(91, 170, 255);
    border-radius: 10px;
    margin: 5px;
    align-self: flex-end;
}

.message-op p {
    font-size: 14px;
    text-align: left;
    display: block;
    padding: 16px;
}

.system_message {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    background-color: rgb(121, 111, 111);
    color: white;
    font-weight: 400;
    margin: 5px 0;
}

.system_message p {
    
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    

}

.user_holder {
    display: flex;
    align-items: center;
}

.user_holder img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.message_holder.message_op {
    display: flex;
    flex-direction: column;
}
.message_holder {
    display: flex;
    margin: 5px;
}

.message_holder_system {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

#stats_op {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    padding-right: 15px; 
    background: crimson;
    color: white;
    border-radius: 0 10px;
    text-align: end;


}

#stats {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    padding-left: 15px; 
    background: fuchsia;
    color: white;
    border-radius: 0 10px;
}

@media screen and (max-width: 768px) {

    .chat-window {
        right: 0;
        bottom: 0;
    }
}

  

