.chat-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    
 

    .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: green;
        border-color: white;
        border-style:solid;
        position: absolute;
        right: 8px;
        bottom: 8px;
        z-index: 10;
    }

     .chat {
        width: 60px;
        height: 60px;
        background-color: rgb(255, 0, 51);
        margin: auto;

        z-index: 5;
        border-radius: 50%;
        opacity: 0.6;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:hover{
            opacity: 1;
        }
    
        svg {
            color: white;
        }
    
    
    } 


}





