@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.logo {
    font-size: 40px;
    font-weight: 700;
    margin-right: 30px;
    text-decoration: none;
}

.topbar {
    align-items: center;
    justify-content: center;
    height: 70px;
    display: flex;
    width: 100vw;

}

.topbar .wrapper {
    
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.left {
    align-items: center;
    display: flex;
}

.left a:visited {
    color: black;
}
.topbar .wrapper svg {
    width: 18px;
    margin-right: 10px;
}

h1 {
    text-align: center;
}

.itemContainer {

    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: 500;
    font-size: 15px;
    margin-left: 30px;
    
    
    color: black;
}

.itemContainer a {
    text-decoration: none;
    font-weight: 500;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
}

.hamburger .line1, .line2, .line3 {
    height: 3px;
    width: 100%;
    background-color: black;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    width: 100%;
}


.avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.userField {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}


.user-header {
    font-weight: 700;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.user-data {
    font-weight: 400;
}

/* p {
    display: inline;
} */

svg {
    width: 20px;
}


/* Post Styles */
.post-title {
    font-size: 3em;
    margin-top: 3%;
}

.post-header {
    text-align: center;
    color: rgb(163, 163, 163);

}



.post-body {
    width: 80%;
    margin: 3% auto  ;
    text-align: justify;
    font-size: 160%;
}

p img {
    width: 400px;
}

.login-button {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 2em;
}

.login-button a {
    padding-top: .5em;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

.login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: -13px;
    border: 1px solid black;
    width: 100px;
    
}

.login-card a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    font-weight: bold;
}

.login-card a:visited {
    color: black;
}

.log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Comment section */

.comment-section {
    
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.comment-section .comment {
    border-top: 1px solid black;
    padding-top: 15px;
    padding-left: 32px;
    margin: 15px 0;
    border-left: 1px dashed #AAA
}
.comment-section .comment p { 

    white-space: pre-line;
}

.comment-footer {
    background-color: rgb(229, 223, 223);
    margin-top: 15px;
}

.comment-footer span {
    
    font-weight: bold;
    padding-left: 5px;
}

textarea {
    min-width: 60%;
    min-height: 8em;
    display: block;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;

}

.leave-comment {
    margin: 15px 0;
}

.leave-comment p {
    font-style: italic;
    color: red;
    margin: 15px 0;
}
.leave-comment b {
    
    padding: 15px 0;
    display: block;
}

form button {

    font-size: 18px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 15px 0;
    padding: 0 10px;
    cursor: pointer;

}

/* Responsive design */


@media screen and (max-width: 1024px) {
    
    .post-body {
        width: 90%;
    }

    .login-button {
        margin-right: 26px;
    }
    
}

@media screen and (max-width: 768px) {

    .itemContainer {
        display: none;
    }

   

    .post-title {
        font-size: 46px;
    }

    .login-button {
        margin: 4px;
    }

    .userInfo {
        display: none;
    }

    p img {
        width: 90vw;
    }

    textarea {
        width: 100%;
        white-space: pre;
    }
    
}